body {
  margin: 0px;
  padding: 0px;
  font-size: 1vw;
  background-color: white;
  height: 100vh; }
body .main-div {
  width: 100%;
  display: flex;
  flex-direction: row; }
@media only screen and (max-width: 670px) {
  body .main-div {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "logo" "image" "content"; } }
body .main-div .mob-logo {
  display: none; }
@media only screen and (max-width: 670px) {
  body .main-div .mob-logo {
    display: block;
    grid-area: logo;
    padding: 2rem 1.5rem; } }
body .main-div .mob-logo img {
  min-width: 120px; }
@media only screen and (max-width: 460px) {
  body .main-div .mob-logo img {
    max-width: 120px; } }
body .main-div .left-side {
  width: 57.7083333333%;
  padding: 6% 11.2% 8% 11.2%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/E:/Prac Website/challenges/base-apparel-coming-soon-master-sollution/assets/images/bg-pattern-desktop.svg"); }
@media only screen and (max-width: 670px) {
  body .main-div .left-side {
    grid-area: content;
    width: 100%;
    padding: 0% 11.2% 8% 11.2%;
    text-align: center; } }
@media only screen and (max-width: 360px) {
  body .main-div .left-side {
    padding: 0% 0% 8% 0%; } }
@media only screen and (min-width: 1470px) {
  body .main-div .left-side img {
    width: 160px; } }
body .main-div .left-side .logo {
  width: 12em;
  min-width: 120px; }
@media only screen and (max-width: 670px) {
  body .main-div .left-side .logo {
    display: none; } }
body .main-div .left-side h1 {
  padding-top: 2em;
  font-size: 4.5em;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  width: 80%;
  color: #ce9797;
  letter-spacing: 0.45em; }
@media only screen and (min-width: 1470px) {
  body .main-div .left-side h1 {
    font-size: 65px;
    padding-top: 8.1rem;
    letter-spacing: 29px; } }
@media only screen and (max-width: 670px) {
  body .main-div .left-side h1 {
    font-size: 40px;
    width: 100%; } }
body .main-div .left-side h1 span {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  color: black; }
body .main-div .left-side p {
  color: #ce9797;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  width: 95%;
  font-size: 1.2vw;
  margin-top: 1.25vw;
  margin-bottom: 2.5vw;
  line-height: 1.75em; }
@media only screen and (min-width: 1700px) {
  body .main-div .left-side p {
    font-size: 20.5px; } }
@media only screen and (max-width: 1050px) {
  body .main-div .left-side p {
    font-size: 15px; } }
@media only screen and (max-width: 670px) {
  body .main-div .left-side p {
    padding: 2rem 0px;
    width: 100%; } }
body .main-div .left-side form {
  position: relative; }
body .main-div .left-side form input {
  width: 90%;
  height: 7.5vh;
  border: 1px solid #ce9797;
  border-radius: 50px;
  padding: 2vw;
  color: #ce9797;
  font-size: 1.1vw;
  background: transparent;
  outline: none; }
body .main-div .left-side form input::placeholder {
  color: #ce9797; }
@media only screen and (min-width: 1470px) {
  body .main-div .left-side form input {
    font-size: 17px;
    padding: 29px;
    height: 67px; } }
@media only screen and (max-width: 1220px) {
  body .main-div .left-side form input {
    height: 4vw;
    padding: 1vw; } }
@media only screen and (max-width: 1050px) {
  body .main-div .left-side form input {
    font-size: 12px; } }
@media only screen and (max-width: 835px) {
  body .main-div .left-side form input {
    min-height: 50px;
    padding: 12px; } }
body .main-div .left-side form .error-icon {
  background: #f96262;
  position: absolute;
  z-index: 1000;
  border-radius: 50%;
  top: 32%;
  right: 25%;
  transition: 0.5s;
  opacity: 0;
  width: 1.4em; }
@media only screen and (max-width: 835px) {
  body .main-div .left-side form .error-icon {
    right: 35%;
    width: 16px; } }
@media only screen and (max-width: 522px) {
  body .main-div .left-side form .error-icon {
    right: 28%;
    width: 16px; } }
@media only screen and (max-width: 360px) {
  body .main-div .left-side form .error-icon {
    right: 25%;
    width: 14px;
    top: 37%; } }
@media only screen and (max-width: 320px) {
  body .main-div .left-side form .error-icon {
    right: 78%;
    width: 12px;
    top: 126%; } }
body .main-div .left-side form .sub-btn {
  display: grid;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 2%;
  border: 0px;
  position: absolute;
  height: 7.5vh;
  width: 20%;
  border-radius: 50px;
  box-shadow: 0 10px 30px -5px #ce9797;
  transition: all 0.5s ease;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c); }
body .main-div .left-side form .sub-btn:hover {
  background: linear-gradient(135deg, #ffebeb, #fbb1b1); }
body .main-div .left-side form .sub-btn:active {
  background: linear-gradient(135deg, #ffebeb, #fbb1b1); }
@media only screen and (min-width: 1470px) {
  body .main-div .left-side form .sub-btn {
    padding: 0px;
    height: 67px; } }
@media only screen and (max-width: 1220px) {
  body .main-div .left-side form .sub-btn {
    height: 4vw; } }
@media only screen and (max-width: 835px) {
  body .main-div .left-side form .sub-btn {
    height: 50px;
    width: 70px; } }
body .main-div .left-side form .sub-btn img {
  width: auto;
  position: absolute;
  right: 40%; }
@media only screen and (max-width: 830px) {
  body .main-div .left-side form .sub-btn img {
    right: 38%; } }
@media only screen and (max-width: 650px) {
  body .main-div .left-side form .sub-btn img {
    right: 35%; } }
@media only screen and (max-width: 500px) {
  body .main-div .left-side form .sub-btn img {
    right: 33%; } }
body .main-div .left-side .error-text {
  font-size: 12px;
  font-weight: 600;
  color: #e28d8d;
  padding: 0.8em 2rem;
  transition: 0.5s;
  opacity: 0;
  margin: 0px;
  width: 100%; }
body .main-div .right-side {
  width: 42.2916666667%;
  background-image: url("/E:/Prac Website/challenges/base-apparel-coming-soon-master-sollution/assets/images/hero-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
@media only screen and (max-width: 670px) {
  body .main-div .right-side {
    grid-area: image;
    background-image: url("/E:/Prac Website/challenges/base-apparel-coming-soon-master-sollution/assets/images/hero-mobile.jpg");
    width: 100vw;
    height: 65vw; } }
